<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="bs-book-service-base.html">

<dom-module id="bs-book-list-service">

  <script>
    class BsBookListService extends BsBookServiceBase {
      static get is() { return 'bs-book-list-service'; }

      static get properties() {
        return {

          /**
           * Query to filter for
           */

          query: {
            type: String,
            observer: '_onQueryChanged',
          },

          /**
           * Book data returned by the Google Books API
           */

          books: {
            type: Array,
            notify: true,
          }
        };
      }

      async _onQueryChanged(query) {
        this.books = await this._getBooks(query);
      }

      async _getBooks(query) {
        if (!query) {
          return null;
        }
        try {
          const response = await fetch(`${this.API_URL}?q=${query}`);
          const data = await response.json();
          return data.items;
        } catch (error) {
          //TODO: proper error handling
          console.error('Error loading list of books');
          return null;
        }
      }
    }

    window.customElements.define(BsBookListService.is, BsBookListService);
  </script>
</dom-module>
