<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="bs-book-base.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="bs-book-list-item">
  <template>
    <style include="shared-styles">
      #book-container {
        display: flex;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 5px;
      }
      #book-container:hover {
        background-color: #eee;
      }
      .detail {
        margin-right: 5px;
      }
      a {
        color: #0091EA;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
    <div id="book-container">
      <div id="icon" class="detail" aria-labelledby="closed book">📕</div>
      <div id="authors" class="detail">
        [[_authors]]
      </div>
      <div id="title" class="detail">
        <a href="/book-details/[[_id]]/[[_urlFriendlyTitle]]">
          [[_title]]
        </a>
      </div>
      <div id="rating" class="detail">
        <span aria-labelledby="star">⭐</span>
        [[_rating]]
      </div>
    </div>
  </template>

  <script>
    class BsBookListItem extends BsBookBase {
      static get is() { return 'bs-book-list-item'; }

    }

    window.customElements.define(BsBookListItem.is, BsBookListItem);
  </script>
</dom-module>
