<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="bs-book-service-base">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>

  </template>

  <script>
    class BsBookServiceBase extends Polymer.Element {
      constructor() {
        super();
        this.API_URL = 'https://www.googleapis.com/books/v1/volumes';
        this.API_KEY = 'AIzaSyBkkVNQ7HGS6Bq55tAHITfs6YcwuPUr54g';
      }

      static get is() { return 'bs-book-service-base'; }
    }

    window.customElements.define(BsBookServiceBase.is, BsBookServiceBase);
  </script>
</dom-module>
