<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="bs-cart-service">

  <script>
    class BsCartService extends Polymer.Element {

      constructor() {
        super();
        this._books = new Map();
      }

      static get is() { return 'bs-cart-service'; }

      static get properties() {
        return {

          /**
           * Books stored in the cart
           */

          books: {
            type: Array,
            notify: true,
          }
        };
      }

      addToCart(book) {
        this._books.set(book.id, book);
        this.books = Array.from(this._books);
      }

      isInCart(book) {
        return this._books.has(book.id);
      }
    }

    window.customElements.define(BsCartService.is, BsCartService);
  </script>
</dom-module>
